<a href="https://colab.research.google.com/github/Konoko2004/TheProject/blob/main/imdb_playbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np

#Import Data

In [6]:
new_df = pd.read_csv("https://raw.githubusercontent.com/Konoko2004/TheProject/main/IMDB_movie_reviews_details.csv")
new_df.head()

   Unnamed: 0                      name  ...      votes     gross
0           0  The Shawshank Redemption  ...  2,394,059   $28.34M
1           1             The Godfather  ...  1,658,439  $134.97M
2           2           Soorarai Pottru  ...     78,266       NaN
3           3           The Dark Knight  ...  2,355,907  $534.86M
4           4    The Godfather: Part II  ...  1,152,912   $57.30M

[5 rows x 10 columns]

#Data Cleansing

In [9]:
#Drop NA rows so that table can be used for data analytics

no_nan_df = new_df.dropna()                                                     #drop all na rows.
no_nan_df.apply(count_missing)

#year is a string, we need to convert it to int
#Due to year column having letters and empty space, we need to clean them first.

no_nan_df['year'].replace('[a-zA-Z]*','',regex = True, inplace = True)             #because some years had letters, we need to remove them. Using Regex to remove.
no_nan_df['year'].replace(' ','',inplace = True)                                   #because some years had empty spaces too, we replace them as well.
no_nan_df['year'] = no_nan_df['year'].astype(int)                                                      #i must reassign year column to astype(int).

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4582: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

numpy.ndarray

In [15]:
#row x col
no_nan_df.shape

#describe
no_nan_df.describe()

#data type of each Col

no_nan_df.info()

#count total occurrence of genre in the table
no_nan_df['genre'].value_counts()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 747 entries, 0 to 998
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  747 non-null    int64
 1   name        747 non-null    object
 2   year        747 non-null    int64
 3   runtime     747 non-null    int64
 4   genre       747 non-null    object
 5   rating      747 non-null    float64
 6   metascore   747 non-null    float64
 7   timeline    747 non-null    object
 8   votes       747 non-null    object
 9   gross       747 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 64.2+ KB

Drama                        67
Comedy, Drama                26
Drama, Romance               26
Crime, Drama, Thriller       25
Action, Adventure, Sci-Fi    21
                             ..
Family, Sci-Fi                1
Crime, Drama, Musical         1
Drama, History, Romance       1
Drama, Music, Mystery         1
Drama, Musical, Sport         1
Name: genre, Length: 175, dtype: int64

#Functions for Apply

In [8]:

# checks for problematic data
def count_missing(vector):

  null_vec = pd.isnull(vector)
  return np.sum(null_vec)

def prop_missing(vec):
  num = count_missing(vec)

  denominator = vec.size

  return num / denominator

def prop_complete(vector):
  
  return 1 - prop_missing(vector)



#functions

def multiply(a,b):
  return a*b

def avg(x,y):
  return (x+y)/2

#Count a particular column for null values
def count_nan(vector):
  null_vec = pd.isnull(vector)
  null_count = np.sum(null_vec)
  return null_count

#Checker

In [ ]:
new_df.apply(count_missing)
new_df.apply(prop_missing)
new_df.apply(prop_complete)

Unnamed: 0      0
name            0
year            0
runtime         0
genre           0
rating          0
metascore     159
timeline        0
votes           0
gross         171
dtype: int64

In [ ]:
#highest rated drama in year 2020
#select year and genre
year = 2020
genre = 'Drama'


highest_rated = new_df[(new_df['genre'] == genre) & (new_df['year']==year)]
highest_rated = highest_rated.sort_values('rating',ascending = False)
highest_rated.iloc[[0]]

In [ ]:
#Test

#Rows with Null values in "gross" column.
new_df.loc[pd.isnull(new_df['gross']),:]

proper_df = no_nan_df.set_index(['year'])
proper_df['metascore'].rolling(window = 5).apply(lambda x : np.sum(x))            # this is a moving sum of past 5 metascores.


# return the higest rating of each unique genre

genre_group = new_df.groupby(['genre'])

genre_grouping = new_df[['name','genre','rating']].groupby('genre')
genre_grouping.max()

# # Return the highest rating of "Action, Adventure" genre
genre_grouping.get_group('Action, Adventure').max()

Unnamed: 0    0
name          0
year          0
runtime       0
genre         0
rating        0
metascore     0
timeline      0
votes         0
gross         0
dtype: int64

   Unnamed: 0             name  ...   votes  gross
2           2  Soorarai Pottru  ...  78,266    NaN

[1 rows x 10 columns]

name      The Dark Knight Rises
rating                      8.4
dtype: object

In [ ]:
#work in progress
#highest rated in each genre for year 2019

year_2 = 2019

t = new_df.sort_values(['year','genre','rating'], ascending = [True,True,False])          #to get top x of each category, first we need to sort the dataframe prior to groupby.
highest_genre_rated = new_df[new_df['year']==year_2][['genre','rating']].groupby('genre').head().reset_index()
t

     Unnamed: 0                           name  ...    votes   gross
331         331    The Cabinet of Dr. Caligari  ...   58,456     NaN
129         129                        The Kid  ...  116,234  $5.45M
577         577                      Nosferatu  ...   90,046     NaN
194         194                   Sherlock Jr.  ...   43,586  $0.98M
193         193                  The Gold Rush  ...  103,171  $5.45M
..          ...                            ...  ...      ...     ...
92           92                     The Father  ...   59,314     NaN
621         621     The Trial of the Chicago 7  ...  145,173     NaN
91           91              Dara of Jasenovac  ...   34,568     NaN
146         146   Zack Snyder's Justice League  ...  288,549     NaN
579         579  The Mitchells vs the Machines  ...   43,128     NaN

[1000 rows x 10 columns]

In [ ]:
#return the label of the max value in a groupby function.
asd = new_df.groupby('name')['metascore'].sum()
print(asd.idxmax() +' ' + str(asd.max()))

Scarface 152.0