<a href="https://colab.research.google.com/github/Konoko2004/TheProject/blob/main/imdb_playbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd
import numpy as np

#Import Data

In [31]:
new_df = pd.read_csv("https://raw.githubusercontent.com/Konoko2004/TheProject/main/IMDB_movie_reviews_details.csv")
new_df.head()

   Unnamed: 0                      name  ...      votes     gross
0           0  The Shawshank Redemption  ...  2,394,059   $28.34M
1           1             The Godfather  ...  1,658,439  $134.97M
2           2           Soorarai Pottru  ...     78,266       NaN
3           3           The Dark Knight  ...  2,355,907  $534.86M
4           4    The Godfather: Part II  ...  1,152,912   $57.30M

[5 rows x 10 columns]

#Data Cleansing

In [40]:
#Drop NA rows so that table can be used for data analytics

no_nan_df = new_df.dropna()                                                     #drop all na rows.
no_nan_df.apply(count_missing)

#year is a string, we need to convert it to int
#Due to year column having letters and empty space, we need to clean them first.

no_nan_df['year'].replace('[a-zA-Z]*','',regex = True, inplace = True)             #because some years had letters, we need to remove them. Using Regex to remove.
no_nan_df['year'].replace(' ','',inplace = True)                                   #because some years had empty spaces too, we replace them as well.
no_nan_df['year'] = no_nan_df['year'].astype(int)                                                      #i must reassign year column to astype(int).

#votes are also non numeric, we need to convert its datatype

no_nan_df['votes'] = no_nan_df['votes'].str.replace(',','').replace('.','')     #replacing commas and dot to blank. Another method is to set locale, but that is more complicated. 
no_nan_df['votes'] = no_nan_df['votes'].astype(float)
no_nan_df.dtypes                                                                 #converted to float

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4582: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

Unnamed: 0      int64
name           object
year            int64
runtime         int64
genre          object
rating        float64
metascore     float64
timeline       object
votes         float64
gross          object
dtype: object

In [28]:
grouped_df = no_nan_df[['year','name','votes']].groupby(['year','name'])
grouped_df.head()

for k,v in grouped_df:
  print(k, v)

(1925, 'Battleship Potemkin')      year                 name   votes
470  1925  Battleship Potemkin  54,035
(1927, 'Metropolis')      year        name    votes
128  1927  Metropolis  162,702
(1930, 'All Quiet on the Western Front')      year                            name   votes
326  1930  All Quiet on the Western Front  57,948
(1931, 'City Lights')     year         name    votes
53  1931  City Lights  171,097
(1933, 'King Kong')      year       name   votes
575  1933  King Kong  80,530
(1934, 'It Happened One Night')      year                   name   votes
325  1934  It Happened One Night  95,974
(1935, 'The Bride of Frankenstein')      year                       name   votes
719  1935  The Bride of Frankenstein  44,144
(1936, 'Modern Times')     year          name    votes
52  1936  Modern Times  222,623
(1938, 'The Adventures of Robin Hood')      year                          name   votes
573  1938  The Adventures of Robin Hood  47,845
(1939, 'Gone with the Wind')      year                name    votes
323  1939  Gone with the Wind  294,524
(1939, 'Mr. Smith Goes to Washington')      year                          name    votes
322  1939  Mr. Smith Goes to Washington  108,683
(1939, 'The Wizard of Oz')      year              name    votes
467  1939  The Wizard of Oz  374,521
(1940, 'Fantasia')      year      name   votes
884  1940  Fantasia  89,999
(1940, 'Rebecca')      year     name    votes
320  1940  Rebecca  126,374
(1940, 'The Grapes of Wrath')      year                 name   votes
321  1940  The Grapes of Wrath  86,466
(1940, 'The Shop Around the Corner')      year                        name   votes
319  1940  The Shop Around the Corner  29,068
(1941, 'Citizen Kane')      year          name    votes
126  1941  Citizen Kane  412,313
(1941, 'The Maltese Falcon')      year                name    votes
466  1941  The Maltese Falcon  150,606
(1942, 'Casablanca')     year        name    votes
51  1942  Casablanca  530,400
(1944, 'Double Indemnity')      year              name    votes
125  1944  Double Indemnity  146,157
(1946, 'Notorious')      year       name   votes
462  1946  Notorious  93,570
(1946, 'The Best Years of Our Lives')      year                         name   votes
318  1946  The Best Years of Our Lives  58,085
(1947, 'Miracle on 34th Street')      year                    name   votes
566  1947  Miracle on 34th Street  42,019
(1948, 'The Treasure of the Sierra Madre')      year                              name    votes
191  1948  The Treasure of the Sierra Madre  116,199
(1949, 'The Third Man')      year           name    votes
316  1949  The Third Man  161,382
(1950, 'All About Eve')      year           name    votes
190  1950  All About Eve  122,532
(1950, 'Rashomon')      year      name    votes
189  1950  Rashomon  155,672
(1951, 'A Streetcar Named Desire')      year                      name    votes
456  1951  A Streetcar Named Desire  100,562
(1951, 'Ace in the Hole')      year             name   votes
314  1951  Ace in the Hole  32,355
(1951, 'Strangers on a Train')      year                  name    votes
457  1951  Strangers on a Train  124,846
(1951, 'The African Queen')      year               name   votes
712  1951  The African Queen  72,564
(1952, 'High Noon')      year       name   votes
455  1952  High Noon  98,664
(1952, "Singin' in the Rain")      year                 name    votes
122  1952  Singin' in the Rain  222,996
(1953, 'From Here to Eternity')      year                   name   votes
998  1953  From Here to Eternity  44,086
(1953, 'Shane')      year   name   votes
997  1953  Shane  37,753
(1954, 'Dial M for Murder')      year               name    votes
187  1954  Dial M for Murder  161,530
(1954, 'On the Waterfront')      year               name    votes
311  1954  On the Waterfront  144,545
(1954, 'Rear Window')     year         name    votes
50  1954  Rear Window  452,067
(1954, 'Seven Samurai')     year           name    votes
30  1954  Seven Samurai  321,308
(1955, 'Rififi')      year    name   votes
310  1955  Rififi  30,468
(1955, 'The Night of the Hunter')      year                     name   votes
451  1955  The Night of the Hunter  83,378
(1957, '12 Angry Men')    year          name    votes
5  1957  12 Angry Men  706,079
(1957, 'The Bridge on the River Kwai')      year                          name    votes
309  1957  The Bridge on the River Kwai  206,620
(1958, 'Cat on a Hot Tin Roof')      year                   name   votes
448  1958  Cat on a Hot Tin Roof  46,118
(1958, 'Touch of Evil')      year           name   votes
447  1958  Touch of Evil  99,572
(1958, 'Vertigo')      year     name    votes
121  1958  Vertigo  371,271
(1959, 'Anatomy of a Murder')      year                 name   votes
446  1959  Anatomy of a Murder  60,951
(1959, 'Ben-Hur')      year     name    votes
305  1959  Ben-Hur  222,916
(1959, 'North by Northwest')      year                name    votes
120  1959  North by Northwest  303,834
(1959, 'Rio Bravo')      year       name   votes
445  1959  Rio Bravo  57,348
(1959, 'Some Like It Hot')      year              name    votes
184  1959  Some Like It Hot  247,967
(1960, 'La Dolce Vita')      year           name   votes
444  1960  La Dolce Vita  68,016
(1960, 'Les yeux sans visage')      year                  name   votes
877  1960  Les yeux sans visage  28,358
(1960, 'Psycho')     year    name    votes
49  1960  Psycho  615,511
(1960, 'Spartacus')      year       name    votes
559  1960  Spartacus  126,014
(1960, 'The Apartment')      year           name    votes
119  1960  The Apartment  167,535
(1960, 'The Magnificent Seven')      year                   name   votes
876  1960  The Magnificent Seven  89,005
(1961, 'The Hustler')      year         name   votes
443  1961  The Hustler  76,040
(1961, 'The Innocents')      year           name   votes
709  1961  The Innocents  27,648
(1962, 'Lawrence of Arabia')      year                name    votes
118  1962  Lawrence of Arabia  272,610
(1962, 'The Longest Day')      year             name   votes
707  1962  The Longest Day  52,709
(1962, 'What Ever Happened to Baby Jane?')      year                              name   votes
298  1962  What Ever Happened to Baby Jane?  51,229
(1963, '8½')      year name    votes
441  1963   8½  110,795
(1963, 'Charade')      year     name   votes
557  1963  Charade  70,575
(1963, 'The Birds')      year       name    votes
873  1963  The Birds  174,467
(1963, 'The Great Escape')      year              name    votes
181  1963  The Great Escape  228,420
(1964, 'A Fistful of Dollars')      year                  name    votes
440  1964  A Fistful of Dollars  201,284
(1964, "A Hard Day's Night")      year                name   votes
994  1964  A Hard Day's Night  40,931
(1964, 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb')     year                                               name    votes
79  1964  Dr. Strangelove or: How I Learned to Stop Worr...  457,287
(1964, 'Goldfinger')      year        name    votes
872  1964  Goldfinger  176,600
(1964, 'Mary Poppins')      year          name    votes
706  1964  Mary Poppins  160,373
(1964, 'My Fair Lady')      year          name   votes
705  1964  My Fair Lady  88,324
(1965, 'Doctor Zhivago')      year            name   votes
439  1965  Doctor Zhivago  71,050
(1965, 'For a Few Dollars More')      year                    name    votes
180  1965  For a Few Dollars More  236,872
(1965, 'The Sound of Music')      year                name    votes
438  1965  The Sound of Music  210,658
(1966, 'A Man for All Seasons')      year                   name   votes
869  1966  A Man for All Seasons  32,099
(1966, 'The Battle of Algiers')      year                   name   votes
296  1966  The Battle of Algiers  54,532
(1966, 'The Good, the Bad and the Ugly')     year                            name    votes
13  1966  The Good, the Bad and the Ugly  700,347
(1967, 'Cool Hand Luke')      year            name    votes
293  1967  Cool Hand Luke  164,764
(1967, "Guess Who's Coming to Dinner")      year                          name   votes
703  1967  Guess Who's Coming to Dinner  40,612
(1967, 'In the Heat of the Night')      year                      name   votes
556  1967  In the Heat of the Night  69,095
(1967, 'The Dirty Dozen')      year             name   votes
867  1967  The Dirty Dozen  68,147
(1967, 'The Graduate')      year          name    votes
436  1967  The Graduate  256,862
(1967, 'The Jungle Book')      year             name    votes
993  1967  The Jungle Book  168,985
(1967, 'Wait Until Dark')      year             name   votes
702  1967  Wait Until Dark  28,211
(1968, '2001: A Space Odyssey')      year                   name    votes
116  1968  2001: A Space Odyssey  614,397
(1968, 'Night of the Living Dead')      year                      name    votes
554  1968  Night of the Living Dead  118,507
(1968, 'Once Upon a Time in the West')     year                          name    votes
48  1968  Once Upon a Time in the West  307,736
(1968, 'Planet of the Apes')      year                name    votes
435  1968  Planet of the Apes  167,253
(1968, 'The Odd Couple')      year            name   votes
866  1968  The Odd Couple  32,234
(1969, 'Butch Cassidy and the Sundance Kid')      year                                name    votes
433  1969  Butch Cassidy and the Sundance Kid  203,982
(1969, 'Midnight Cowboy')      year             name    votes
701  1969  Midnight Cowboy  102,799
(1969, 'The Wild Bunch')      year            name   votes
553  1969  The Wild Bunch  78,505
(1970, "Kelly's Heroes")      year            name   votes
991  1970  Kelly's Heroes  45,985
(1970, 'Patton')      year    name   votes
552  1970  Patton  94,771
(1970, 'The Conformist')      year            name   votes
432  1970  The Conformist  27,864
(1971, 'A Clockwork Orange')      year                name    votes
114  1971  A Clockwork Orange  769,687
(1971, 'Dirty Harry')      year         name    votes
865  1971  Dirty Harry  145,608
(1971, 'Duck You Sucker')      year             name   votes
990  1971  Duck You Sucker  30,807
(1971, 'Fiddler on the Roof')      year                 name   votes
431  1971  Fiddler on the Roof  40,216
(1971, 'The French Connection')      year                   name    votes
864  1971  The French Connection  112,575
(1971, 'The Last Picture Show')      year                   name   votes
430  1971  The Last Picture Show  43,574
(1971, 'Willy Wonka & the Chocolate Factory')      year                                 name    votes
700  1971  Willy Wonka & the Chocolate Factory  181,642
(1972, 'Cabaret')      year     name   votes
699  1972  Cabaret  49,117
(1972, 'Deliverance')      year         name    votes
863  1972  Deliverance  100,301
(1972, 'The Discreet Charm of the Bourgeoisie')      year                                   name   votes
549  1972  The Discreet Charm of the Bourgeoisie  39,624
(1972, 'The Godfather')    year           name      votes
1  1972  The Godfather  1,658,439
(1973, 'Enter the Dragon')      year              name   votes
862  1973  Enter the Dragon  98,361
(1973, 'Fantastic Planet')      year              name   votes
696  1973  Fantastic Planet  26,589
(1973, 'Paper Moon')      year        name   votes
289  1973  Paper Moon  43,026
(1973, 'Papillon')      year      name    votes
427  1973  Papillon  123,538
(1973, 'Serpico')      year     name    votes
861  1973  Serpico  112,371
(1973, 'The Day of the Jackal')      year                   name   votes
697  1973  The Day of the Jackal  38,149
(1973, 'The Exorcist')      year          name    votes
428  1973  The Exorcist  366,902
(1973, 'The Holy Mountain')      year               name   votes
547  1973  The Holy Mountain  38,444
(1973, 'The Long Goodbye')      year              name   votes
989  1973  The Long Goodbye  27,026
(1973, 'The Sting')      year       name    votes
113  1973  The Sting  245,333
(1974, 'Blazing Saddles')      year             name    votes
860  1974  Blazing Saddles  127,945
(1974, 'Chinatown')      year       name    votes
179  1974  Chinatown  300,280
(1974, 'The Conversation')      year              name    votes
695  1974  The Conversation  101,397
(1974, 'The Godfather: Part II')    year                    name      votes
4  1974  The Godfather: Part II  1,152,912
(1974, 'The Taking of Pelham One Two Three')      year                                name   votes
859  1974  The Taking of Pelham One Two Three  27,423
(1974, 'Young Frankenstein')      year                name    votes
426  1974  Young Frankenstein  145,431
(1975, 'Dog Day Afternoon')      year               name    votes
425  1975  Dog Day Afternoon  239,528
(1975, 'Jaws')      year  name    votes
424  1975  Jaws  549,924
(1975, 'Mirror')      year    name   votes
288  1975  Mirror  41,222
(1975, 'Monty Python and the Holy Grail')      year                             name    votes
178  1975  Monty Python and the Holy Grail  507,518
(1975, "One Flew Over the Cuckoo's Nest")     year                             name    votes
18  1975  One Flew Over the Cuckoo's Nest  933,318
(1976, "All the President's Men")      year                     name    votes
423  1976  All the President's Men  105,380
(1976, 'Rocky')      year   name    votes
285  1976  Rocky  528,291
(1976, 'Taxi Driver')      year         name    votes
112  1976  Taxi Driver  740,978
(1976, 'The Outlaw Josey Wales')      year                    name   votes
693  1976  The Outlaw Josey Wales  66,710
(1976, 'The Tenant')      year        name   votes
857  1976  The Tenant  40,839
(1977, 'Annie Hall')      year        name    votes
422  1977  Annie Hall  254,435
(1977, 'Close Encounters of the Third Kind')      year                                name    votes
988  1977  Close Encounters of the Third Kind  187,865
(1977, 'Star Wars: Episode IV - A New Hope')     year                                name      votes
28  1977  Star Wars: Episode IV - A New Hope  1,250,920
(1978, 'Dawn of the Dead')      year              name    votes
546  1978  Dawn of the Dead  112,981
(1978, 'Halloween')      year       name    votes
856  1978  Halloween  236,618
(1978, 'The Deer Hunter')      year             name    votes
284  1978  The Deer Hunter  316,679
(1979, 'Alien')     year   name    votes
77  1979  Alien  802,900
(1979, 'All That Jazz')      year           name   votes
545  1979  All That Jazz  28,784
(1979, 'Apocalypse Now')     year            name    votes
76  1979  Apocalypse Now  617,196
(1979, 'Being There')      year         name   votes
421  1979  Being There  66,903
(1979, 'Escape from Alcatraz')      year                  name    votes
986  1979  Escape from Alcatraz  124,152
(1979, 'Kramer vs. Kramer')      year               name    votes
691  1979  Kramer vs. Kramer  136,072
(1979, 'Manhattan')      year       name    votes
544  1979  Manhattan  133,036
(1979, "Monty Python's Life of Brian")      year                          name    votes
283  1979  Monty Python's Life of Brian  373,225
(1979, 'The Muppet Movie')      year              name   votes
985  1979  The Muppet Movie  33,433
(1979, 'The Warriors')      year          name   votes
984  1979  The Warriors  95,488
(1980, 'Airplane!')      year       name    votes
854  1980  Airplane!  218,862
(1980, 'Ordinary People')      year             name   votes
853  1980  Ordinary People  48,056
(1980, 'Raging Bull')      year         name    votes
174  1980  Raging Bull  327,227
(1980, 'Star Wars: Episode V - The Empire Strikes Back')     year                                            name      votes
17  1980  Star Wars: Episode V - The Empire Strikes Back  1,178,844
(1980, 'The Blues Brothers')      year                name    votes
543  1980  The Blues Brothers  186,199
(1980, 'The Shining')     year         name    votes
75  1980  The Shining  917,316
(1981, 'Das Boot')      year      name    votes
111  1981  Das Boot  235,495
(1981, 'Indiana Jones and the Raiders of the Lost Ark')     year                                           name    votes
74  1981  Indiana Jones and the Raiders of the Lost Ark  897,322
(1981, 'Mad Max 2: The Road Warrior')      year                         name    votes
983  1981  Mad Max 2: The Road Warrior  168,920
(1981, 'On Golden Pond')      year            name   votes
982  1981  On Golden Pond  28,234
(1982, 'Blade Runner')      year          name    votes
280  1982  Blade Runner  705,277
(1982, 'E.T. the Extra-Terrestrial')      year                        name    votes
690  1982  E.T. the Extra-Terrestrial  378,313
(1982, 'Fanny and Alexander')      year                 name   votes
279  1982  Fanny and Alexander  58,600
(1982, 'First Blood')      year         name    votes
852  1982  First Blood  231,822
(1982, 'Gandhi')      year    name    votes
419  1982  Gandhi  219,762
(1982, 'Pink Floyd: The Wall')      year                  name   votes
418  1982  Pink Floyd: The Wall  77,086
(1982, 'Star Trek II: The Wrath of Khan')      year                             name    votes
851  1982  Star Trek II: The Wrath of Khan  114,178
(1982, 'The King of Comedy')      year                name   votes
689  1982  The King of Comedy  92,632
(1982, 'The Thing')      year       name    votes
277  1982  The Thing  378,486
(1982, 'The Verdict')      year         name   votes
850  1982  The Verdict  36,869
(1983, 'A Christmas Story')      year               name    votes
542  1983  A Christmas Story  133,835
(1983, 'Scarface')      year      name    votes
109  1983  Scarface  758,287
(1983, 'Star Wars: Episode VI - Return of the Jedi')      year                                        name    votes
110  1983  Star Wars: Episode VI - Return of the Jedi  966,109
(1983, 'The Right Stuff')      year             name   votes
688  1983  The Right Stuff  56,932
(1984, 'Amadeus')      year     name    votes
108  1984  Amadeus  374,880
(1984, 'Blood Simple')      year          name   votes
981  1984  Blood Simple  89,775
(1984, 'Ghostbusters')      year          name    votes
687  1984  Ghostbusters  361,591
(1984, 'Nausicaä of the Valley of the Wind')      year                                name    votes
276  1984  Nausicaä of the Valley of the Wind  154,988
(1984, 'Paris, Texas')      year          name   votes
275  1984  Paris, Texas  94,913
(1984, 'The Killing Fields')      year                name   votes
686  1984  The Killing Fields  52,452
(1984, 'The Terminator')      year            name    votes
417  1984  The Terminator  807,294
(1984, 'This Is Spinal Tap')      year                name    votes
541  1984  This Is Spinal Tap  130,851
(1985, 'After Hours')      year         name   votes
848  1985  After Hours  61,860
(1985, 'Back to the Future')     year                name      votes
47  1985  Back to the Future  1,081,797
(1985, 'Brazil')      year    name    votes
540  1985  Brazil  190,152
(1985, 'Ran')      year name    votes
173  1985  Ran  115,331
(1985, 'The Breakfast Club')      year                name    votes
685  1985  The Breakfast Club  363,344
(1985, 'The Color Purple')      year              name   votes
684  1985  The Color Purple  80,126
(1985, 'The Goonies')      year         name    votes
683  1985  The Goonies  248,941
(1985, 'The Purple Rose of Cairo')      year                      name   votes
847  1985  The Purple Rose of Cairo  47,779
(1986, 'Aliens')      year    name    votes
107  1986  Aliens  662,821
(1986, 'Blue Velvet')      year         name    votes
846  1986  Blue Velvet  184,488
(1986, 'Down by Law')      year         name   votes
845  1986  Down by Law  48,646
(1986, "Ferris Bueller's Day Off")      year                      name    votes
682  1986  Ferris Bueller's Day Off  326,537
(1986, 'Hannah and Her Sisters')      year                    name   votes
539  1986  Hannah and Her Sisters  68,150
(1986, 'Platoon')      year     name    votes
273  1986  Platoon  387,293
(1986, 'Stand by Me')      year         name    votes

In [15]:
#row x col
no_nan_df.shape

#describe
no_nan_df.describe()

#data type of each Col

no_nan_df.info()

#count total occurrence of genre in the table
no_nan_df['genre'].value_counts()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 747 entries, 0 to 998
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  747 non-null    int64
 1   name        747 non-null    object
 2   year        747 non-null    int64
 3   runtime     747 non-null    int64
 4   genre       747 non-null    object
 5   rating      747 non-null    float64
 6   metascore   747 non-null    float64
 7   timeline    747 non-null    object
 8   votes       747 non-null    object
 9   gross       747 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 64.2+ KB

Drama                        67
Comedy, Drama                26
Drama, Romance               26
Crime, Drama, Thriller       25
Action, Adventure, Sci-Fi    21
                             ..
Family, Sci-Fi                1
Crime, Drama, Musical         1
Drama, History, Romance       1
Drama, Music, Mystery         1
Drama, Musical, Sport         1
Name: genre, Length: 175, dtype: int64

#Functions for Apply

In [8]:

# checks for problematic data
def count_missing(vector):

  null_vec = pd.isnull(vector)
  return np.sum(null_vec)

def prop_missing(vec):
  num = count_missing(vec)

  denominator = vec.size

  return num / denominator

def prop_complete(vector):
  
  return 1 - prop_missing(vector)



#functions

def multiply(a,b):
  return a*b

def avg(x,y):
  return (x+y)/2

#Count a particular column for null values
def count_nan(vector):
  null_vec = pd.isnull(vector)
  null_count = np.sum(null_vec)
  return null_count

#Checker

In [ ]:
new_df.apply(count_missing)
new_df.apply(prop_missing)
new_df.apply(prop_complete)

Unnamed: 0      0
name            0
year            0
runtime         0
genre           0
rating          0
metascore     159
timeline        0
votes           0
gross         171
dtype: int64

In [ ]:
#highest rated drama in year 2020
#select year and genre
year = 2020
genre = 'Drama'


highest_rated = new_df[(new_df['genre'] == genre) & (new_df['year']==year)]
highest_rated = highest_rated.sort_values('rating',ascending = False)
highest_rated.iloc[[0]]

In [ ]:
#Test

#Rows with Null values in "gross" column.
new_df.loc[pd.isnull(new_df['gross']),:]

proper_df = no_nan_df.set_index(['year'])
proper_df['metascore'].rolling(window = 5).apply(lambda x : np.sum(x))            # this is a moving sum of past 5 metascores.


# return the higest rating of each unique genre

genre_group = new_df.groupby(['genre'])

genre_grouping = new_df[['name','genre','rating']].groupby('genre')
genre_grouping.max()

# # Return the highest rating of "Action, Adventure" genre
genre_grouping.get_group('Action, Adventure').max()

Unnamed: 0    0
name          0
year          0
runtime       0
genre         0
rating        0
metascore     0
timeline      0
votes         0
gross         0
dtype: int64

   Unnamed: 0             name  ...   votes  gross
2           2  Soorarai Pottru  ...  78,266    NaN

[1 rows x 10 columns]

name      The Dark Knight Rises
rating                      8.4
dtype: object

In [ ]:
#work in progress
#highest rated in each genre for year 2019

year_2 = 2019

t = new_df.sort_values(['year','genre','rating'], ascending = [True,True,False])          #to get top x of each category, first we need to sort the dataframe prior to groupby.
highest_genre_rated = new_df[new_df['year']==year_2][['genre','rating']].groupby('genre').head().reset_index()
t

     Unnamed: 0                           name  ...    votes   gross
331         331    The Cabinet of Dr. Caligari  ...   58,456     NaN
129         129                        The Kid  ...  116,234  $5.45M
577         577                      Nosferatu  ...   90,046     NaN
194         194                   Sherlock Jr.  ...   43,586  $0.98M
193         193                  The Gold Rush  ...  103,171  $5.45M
..          ...                            ...  ...      ...     ...
92           92                     The Father  ...   59,314     NaN
621         621     The Trial of the Chicago 7  ...  145,173     NaN
91           91              Dara of Jasenovac  ...   34,568     NaN
146         146   Zack Snyder's Justice League  ...  288,549     NaN
579         579  The Mitchells vs the Machines  ...   43,128     NaN

[1000 rows x 10 columns]

In [ ]:
#return the label of the max value in a groupby function.
asd = new_df.groupby('name')['metascore'].sum()
print(asd.idxmax() +' ' + str(asd.max()))

Scarface 152.0