<a href="https://colab.research.google.com/github/Konoko2004/TheProject/blob/main/imdb_playbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [ ]:
new_df = pd.read_csv("https://raw.githubusercontent.com/Konoko2004/TheProject/main/IMDB_movie_reviews_details.csv")
new_df

     Unnamed: 0                      name  ...      votes     gross
0             0  The Shawshank Redemption  ...  2,394,059   $28.34M
1             1             The Godfather  ...  1,658,439  $134.97M
2             2           Soorarai Pottru  ...     78,266       NaN
3             3           The Dark Knight  ...  2,355,907  $534.86M
4             4    The Godfather: Part II  ...  1,152,912   $57.30M
..          ...                       ...  ...        ...       ...
995         995    Breakfast at Tiffany's  ...    169,575       NaN
996         996                     Giant  ...     34,759       NaN
997         997                     Shane  ...     37,753   $20.00M
998         998     From Here to Eternity  ...     44,086   $30.50M
999         999                  Lifeboat  ...     26,903       NaN

[1000 rows x 10 columns]

In [ ]:
#because the votes column contains string data type, we first convert the datatype to float.
#List the top 10 highest voted movie
new_df = pd.read_csv("https://raw.githubusercontent.com/Konoko2004/TheProject/main/IMDB_movie_reviews_details.csv")
new_df['votes'] = new_df['votes'].str.replace(',','').astype(float)
new_df[['name','year','votes']].sort_values(by = ['votes'], ascending = False)

                         name  year      votes
0    The Shawshank Redemption  1994  2394059.0
3             The Dark Knight  2008  2355907.0
9                   Inception  2010  2113984.0
10                 Fight Club  1999  1892181.0
7                Pulp Fiction  1994  1862472.0
..                        ...   ...        ...
235              Nobody Knows  2004    25503.0
716                  Gaslight  1944    25359.0
274             The Sacrifice  1986    25328.0
813           Taste of Cherry  1997    25213.0
150                Article 15  2019    25116.0

[1000 rows x 3 columns]

In [ ]:
#functions

def multiply(a,b):
  return a*b

def avg(x,y):
  return (x+y)/2

In [ ]:
#return the label of the max value in a groupby function.
asd = new_df.groupby('name')['metascore'].sum()
print(asd.idxmax() +' ' + str(asd.max()))

Scarface 152.0