<a href="https://colab.research.google.com/github/Konoko2004/TheProject/blob/main/Pandas%20Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("This is a test")

In [7]:
import pandas as pd
import numpy as np

In [53]:

#using pandas OrderedDict , we need to import OrderedDict first.

from collections import OrderedDict

Ordered_Dict = pd.DataFrame(OrderedDict([
  ("Name",["Winston","Byrion","William"]),
  ("Occupation",["Data Guy","Developer","Jobless"]),
  ("Age",[34,25,18])
  ]))

UnOrdered_Dict = pd.DataFrame(
    {'Name':['Rosaline','William','Kappanator'],
     'Age':[19,33,69],
     'Occupation': ['Chemist','Tech Guy','Memer'],
     },
     index = ["A","B","C"],
     columns = ['Name','Age','Occupation']
)


UnOrdered_Dict

         Name  Age Occupation
A    Rosaline   19    Chemist
B     William   33   Tech Guy
C  Kappanator   69      Memer

In [55]:
#1 trick with bool Values returning index of a table
#using UnOrdered_Dict Table

#this will return index 0 and index 2. Note that the length of values in manual_bool_Values has to match the number of rows in UnOrdered_Dict
Manual_bool_values = [True,False,True]

UnOrdered_Dict[Manual_bool_values]

         Name  Age Occupation
A    Rosaline   19    Chemist
C  Kappanator   69      Memer

In [5]:

s = pd.Series(['Winston',32],
              index = ['Person',"age"])

In [13]:
nparray = np.array(["Kappa","Keepo"])
testing = pd.Series(nparray,
                    index = ['Meme1','Meme2'])

testing

Meme1    Kappa
Meme2    Keepo
dtype: object

In [1]:
import yfinance as yf

In [17]:
nio = yf.Ticker("NIO")
nio.history(period = "1y")
nio_data = nio.history(period = "1y")

#create high - low column
nio_data['Open/Close Diff'] = abs(nio_data['Open'] - nio_data['Close'])
nio_data['Open/Close ']

                 Open       High  ...  Stock Splits  Open/Close Diff
Date                              ...
2020-05-15   3.370000   3.450000  ...             0         0.000000
2020-05-18   3.500000   3.690000  ...             0         0.110000
2020-05-19   3.620000   3.750000  ...             0         0.070000
2020-05-20   3.760000   3.820000  ...             0         0.280000
2020-05-21   3.400000   3.440000  ...             0         0.070000
...               ...        ...  ...           ...              ...
2021-05-10  36.779999  36.790001  ...             0         2.449997
2021-05-11  32.450001  35.459999  ...             0         2.419998
2021-05-12  34.380001  35.130001  ...             0         0.700001
2021-05-13  33.849998  34.270000  ...             0         2.629999
2021-05-14  31.940001  33.689999  ...             0         1.479998

[252 rows x 8 columns]

In [14]:
help(nio_data)

Help on Ticker in module yfinance.ticker object:

class Ticker(yfinance.base.TickerBase)
 |  Ticker(ticker, session=None)
 |
 |  Method resolution order:
 |      Ticker
 |      yfinance.base.TickerBase
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  option_chain(self, date=None, proxy=None, tz=None)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  actions
 |
 |  balance_sheet
 |
 |  balancesheet
 |
 |  calendar
 |
 |  cashflow
 |
 |  dividends
 |
 |  earnings
 |
 |  financials
 |
 |  info
 |
 |  institutional_holders
 |
 |  isin
 |
 |  major_holders
 |
 |  mutualfund_holders
 |
 |  options
 |
 |  quarterly_balance_sheet
 |
 |  quarterly_balancesheet
 |
 |  quarterly_cashflow
 |
 |  quarterly_earnings
 |
 |  quarterly_financials
 |
 |  recommendations
 |
 |  splits
 |
 |  sustainability
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from yfinance.base.TickerBase:
 |
 |  __init__(self, ticker, session=None)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  get_actions(self, proxy=None)
 |
 |  get_balance_sheet(self, proxy=None, as_dict=False, freq='yearly')
 |
 |  get_balancesheet(self, proxy=None, as_dict=False, freq='yearly')
 |
 |  get_calendar(self, proxy=None, as_dict=False, *args, **kwargs)
 |
 |  get_cashflow(self, proxy=None, as_dict=False, freq='yearly')
 |
 |  get_dividends(self, proxy=None)
 |
 |  get_earnings(self, proxy=None, as_dict=False, freq='yearly')
 |
 |  get_financials(self, proxy=None, as_dict=False, freq='yearly')
 |
 |  get_info(self, proxy=None, as_dict=False, *args, **kwargs)
 |
 |  get_institutional_holders(self, proxy=None, as_dict=False, *args, **kwargs)
 |
 |  get_isin(self, proxy=None)
 |
 |  get_major_holders(self, proxy=None, as_dict=False, *args, **kwargs)
 |
 |  get_mutualfund_holders(self, proxy=None, as_dict=False, *args, **kwargs)
 |
 |  get_recommendations(self, proxy=None, as_dict=False, *args, **kwargs)
 |
 |  get_splits(self, proxy=None)
 |
 |  get_sustainability(self, proxy=None, as_dict=False, *args, **kwargs)
 |
 |  history(self, period='1mo', interval='1d', start=None, end=None, prepost=False, actions=True, auto_adjust=True, back_adjust=False, proxy=None, rounding=False, tz=None, **kwargs)
 |      :Parameters:
 |          period : str
 |              Valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
 |              Either Use period parameter or use start and end
 |          interval : str
 |              Valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
 |              Intraday data cannot extend last 60 days
 |          start: str
 |              Download start date string (YYYY-MM-DD) or _datetime.
 |              Default is 1900-01-01
 |          end: str
 |              Download end date string (YYYY-MM-DD) or _datetime.
 |              Default is now
 |          prepost : bool
 |              Include Pre and Post market data in results?
 |              Default is False
 |          auto_adjust: bool
 |              Adjust all OHLC automatically? Default is True
 |          back_adjust: bool
 |              Back-adjusted data to mimic true historical prices
 |          proxy: str
 |              Optional. Proxy server URL scheme. Default is None
 |          rounding: bool
 |              Round values to 2 decimal places?
 |              Optional. Default is False = precision suggested by Yahoo!
 |          tz: str
 |              Optional timezone locale for dates.
 |              (default data is returned as non-localized dates)
 |          **kwargs: dict
 |              debug: bool
 |                  Optional. If passed as False, will suppress
 |                  error message printing to console.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from yfinance.base.TickerBase:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)