<a href="https://colab.research.google.com/github/Konoko2004/TheProject/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
url = 'https://raw.githubusercontent.com/Konoko2004/TheProject/main/portfolios.csv'
Portfolio = pd.read_csv(url)

url2 = 'https://raw.githubusercontent.com/Konoko2004/TheProject/main/raw_price_data.csv'

PriceData = pd.read_csv(url2)

In [10]:
Portfolio.head()

   id  initial_invt  monthly_invt           x_1  ...       w_5 w_6 w_7     PC Date
0   1          2100           410  NYSEARCA:RYE  ...  0.150161 NaN NaN  2008-04-14
1   2          5200           310  NYSEARCA:XOP  ...       NaN NaN NaN  2009-03-12
2   3          5800           430  NYSEARCA:XOP  ...       NaN NaN NaN  2008-07-16
3   4          1600           460  NYSEARCA:XES  ...       NaN NaN NaN  2009-04-26
4   5         17600          4520  NYSEARCA:XOP  ...       NaN NaN NaN  2008-04-25

[5 rows x 18 columns]

In [22]:
Portfolio.loc[:,["w_1","w_2"]].sum(axis=1)

ValueError: ignored

In [16]:
Portfolio[['w_1','w_2','w_3','w_4','w_5','w_6','w_7']].sum(axis=1)

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
4995    1.0
4996    1.0
4997    1.0
4998    1.0
4999    1.0
Length: 5000, dtype: float64