<a href="https://colab.research.google.com/github/Konoko2004/TheProject/blob/main/yFinance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Install related libraries

!pip install yfinance

!pip install dash
import pandas as pd
import yfinance as yf

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.59)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: dash in /usr/local/lib/python3.7/dist-packages (1.20.0)
Requirement already satisfied: Flask>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from dash) (1.1.4)
Requirement already satisfied: dash-table==4.11.3 in /usr/local/lib/python3.7/dist-packages (from dash) (4.11.3)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from dash) (4.4.1)
Requirement already satisfied: dash-core-components==1.16.0 in /usr/local/lib/python3.7/dist-packages (from dash) (1.16.0)
Requirement already satisfied: dash-renderer==1.9.1 in /usr/local/lib/python3.7/dist-packages (from dash) (1.9.1)
Requirement already satisfied: flask-compress in /usr/local/lib/python3.7/dist-packages (from dash) (1.9.0)
Requirement already satisfied: dash-html-components==1.1.3 in /usr/local/lib/python3.7/dist-packages (from dash) (1.1.3)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from dash) (0.16.0)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from Flask>=1.0.4->dash) (1.1.0)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=1.0.4->dash) (2.11.3)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=1.0.4->dash) (7.1.2)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from Flask>=1.0.4->dash) (1.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly->dash) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->dash) (1.3.3)
Requirement already satisfied: brotli in /usr/local/lib/python3.7/dist-packages (from flask-compress->dash) (1.0.9)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->Flask>=1.0.4->dash) (2.0.1)

In [17]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.express as px
import pandas as pd
from dash.dependencies import Output, Input

app = dash.Dash(__name__)

app.layout = html.Div([
    html.H1('Testing')
    dcc.Graph(id = 'my-graph')
])

fig = px.bar(nio,x = 'Ticker',y = 'Volume')


if __name__ == '__main__':
  app.run_server()

SyntaxError: ignored

In [7]:
df1 = pd.DataFrame([[1,2,3,4]],
                   columns = ['a','b','c','d'])
df2 = pd.DataFrame([[1,2,3,4,5],[1,4,9,16,25],[1,16,87,12,41]],
                   columns = ['a','b','c','d','e'])

print(pd.concat([df1,df2],axis=1))

     a    b    c    d  a   b   c   d   e
0  1.0  2.0  3.0  4.0  1   2   3   4   5
1  NaN  NaN  NaN  NaN  1   4   9  16  25
2  NaN  NaN  NaN  NaN  1  16  87  12  41

In [9]:
#Function to create a DF of a ticker. We will add them to a class of stocks later.

def create_Stock(tickerName):
    stock = yf.Ticker(tickerName)
    stockhistory = stock.history(period = '1y')
    stock_df = pd.DataFrame(stockhistory)
    stock_df['Ticker'] = tickerName
    stock_df.reset_index(inplace = True) # push date index to become a column.
    stock_df['Date'] = stock_df['Date'].dt.strftime('%d/%m/%Y')  #dd/mm/yyyy format.
    return stock_df

In [ ]:
#Function to calculate

In [ ]:
class WatchList:
    def __init__(self, dataframe):
        self.dataframe = dataframe
        self.buy

In [10]:
nio = create_Stock("nio")
nio

           Date       Open       High  ...  Dividends  Stock Splits  Ticker
0    28/05/2020   3.980000   4.120000  ...          0             0     nio
1    29/05/2020   3.820000   4.000000  ...          0             0     nio
2    01/06/2020   4.000000   4.330000  ...          0             0     nio
3    02/06/2020   4.360000   4.730000  ...          0             0     nio
4    03/06/2020   5.000000   5.700000  ...          0             0     nio
..          ...        ...        ...  ...        ...           ...     ...
249  24/05/2021  34.259998  36.490002  ...          0             0     nio
250  25/05/2021  36.320000  37.639999  ...          0             0     nio
251  26/05/2021  36.250000  38.080002  ...          0             0     nio
252  27/05/2021  37.950001  38.980000  ...          0             0     nio
253  28/05/2021  38.744999  39.759998  ...          0             0     nio

[254 rows x 9 columns]

In [ ]:
nio = yf.Ticker("nio")
niohistory = nio.history(period = '1y')
nio_df = pd.DataFrame(niohistory)
nio_df

nio_df['High-Low'] = nio_df['High']-nio_df['Low']
nio_df['Ticker'] = 
nio_df = nio_df[['Open','High','Low','Close','High-Low','Volume','Dividends','Stock Splits']]   #re-arrange columns

nio_df

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2020-05-18   3.500000   3.690000   3.500000  ...   27771300          0             0
2020-05-19   3.620000   3.750000   3.590000  ...   21707400          0             0
2020-05-20   3.760000   3.820000   3.400000  ...   52056900          0             0
2020-05-21   3.400000   3.440000   3.230000  ...   41628400          0             0
2020-05-22   3.330000   3.340000   3.180000  ...   22887300          0             0
...               ...        ...        ...  ...        ...        ...           ...
2021-05-12  34.380001  35.130001  33.480000  ...   75993700          0             0
2021-05-13  33.849998  34.270000  30.709999  ...  113686700          0             0
2021-05-14  31.940001  33.689999  31.559999  ...   80032000          0             0
2021-05-17  33.330002  34.160000  32.820000  ...   63466400          0             0
2021-05-18  34.009998  34.358200  33.270000  ...   21506476          0             0

[253 rows x 8 columns]

In [ ]:
def moving_avg(dataframe, period = 20,Moving_avg = ''):

    self

In [ ]:
nio = create_Stock(tickerName = 'nio')

nio['High-Low'] = nio['High']-nio['Low']
nio

           Date       Open       High  ...  Stock Splits  Ticker  High-Low
0    26/05/2020   3.420000   3.830000  ...             0     nio  0.430000
1    27/05/2020   4.010000   4.200000  ...             0     nio  0.300000
2    28/05/2020   3.980000   4.120000  ...             0     nio  0.370000
3    29/05/2020   3.820000   4.000000  ...             0     nio  0.270000
4    01/06/2020   4.000000   4.330000  ...             0     nio  0.370000
..          ...        ...        ...  ...           ...     ...       ...
249  20/05/2021  33.980000  34.509998  ...             0     nio  0.869999
250  21/05/2021  34.660000  34.779999  ...             0     nio  0.910000
251  24/05/2021  34.259998  36.490002  ...             0     nio  2.930000
252  25/05/2021  36.320000  37.639999  ...             0     nio  1.950001
253  26/05/2021  36.250000  37.779999  ...             0     nio  1.706600

[254 rows x 10 columns]

In [ ]:
nio_tidied = pd.melt(nio,id_vars=['Volume','Dividends','Stock Splits','Date','Ticker'],
                     var_name='Position',value_name = 'Price')

nio_tidied

        Volume  Dividends  Stock Splits        Date Ticker  Position     Price
0     59847900          0             0  26/05/2020    nio      Open  3.420000
1     70718900          0             0  27/05/2020    nio      Open  4.010000
2     62756900          0             0  28/05/2020    nio      Open  3.980000
3     50303000          0             0  29/05/2020    nio      Open  3.820000
4     69222000          0             0  01/06/2020    nio      Open  4.000000
...        ...        ...           ...         ...    ...       ...       ...
1265  48991700          0             0  20/05/2021    nio  High-Low  0.869999
1266  49419300          0             0  21/05/2021    nio  High-Low  0.910000
1267  67244400          0             0  24/05/2021    nio  High-Low  2.930000
1268  76545800          0             0  25/05/2021    nio  High-Low  1.950001
1269  31757357          0             0  26/05/2021    nio  High-Low  1.706600

[1270 rows x 7 columns]