<a href="https://colab.research.google.com/github/Konoko2004/TheProject/blob/main/yFinance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import yfinance as yf

In [ ]:
#Function to create a DF of a ticker. We will add them to a class of stocks later.

def create_Stock(tickerName):
    stock = yf.Ticker(tickerName)
    stockhistory = stock.history(period = '1y')
    stock_df = pd.DataFrame(stockhistory)
    stock_df['Ticker'] = tickerName
    return stock_df

In [ ]:
class WatchList(datafrane):

In [21]:
nio = yf.Ticker("nio")
niohistory = nio.history(period = '1y')
nio_df = pd.DataFrame(niohistory)
nio_df

nio_df['High-Low'] = nio_df['High']-nio_df['Low']
nio_df['Ticker'] = 
nio_df = nio_df[['Open','High','Low','Close','High-Low','Volume','Dividends','Stock Splits']]   #re-arrange columns

nio_df

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2020-05-18   3.500000   3.690000   3.500000  ...   27771300          0             0
2020-05-19   3.620000   3.750000   3.590000  ...   21707400          0             0
2020-05-20   3.760000   3.820000   3.400000  ...   52056900          0             0
2020-05-21   3.400000   3.440000   3.230000  ...   41628400          0             0
2020-05-22   3.330000   3.340000   3.180000  ...   22887300          0             0
...               ...        ...        ...  ...        ...        ...           ...
2021-05-12  34.380001  35.130001  33.480000  ...   75993700          0             0
2021-05-13  33.849998  34.270000  30.709999  ...  113686700          0             0
2021-05-14  31.940001  33.689999  31.559999  ...   80032000          0             0
2021-05-17  33.330002  34.160000  32.820000  ...   63466400          0             0
2021-05-18  34.009998  34.358200  33.270000  ...   21506476          0             0

[253 rows x 8 columns]

In [18]:
def moving_avg(dataframe, period = 20):

    print(dataframe.shape)

In [32]:
create_Stock(tickerName = 'nio')

                 Open       High        Low  ...  Dividends  Stock Splits  Ticker
Date                                         ...
2020-05-18   3.500000   3.690000   3.500000  ...          0             0     nio
2020-05-19   3.620000   3.750000   3.590000  ...          0             0     nio
2020-05-20   3.760000   3.820000   3.400000  ...          0             0     nio
2020-05-21   3.400000   3.440000   3.230000  ...          0             0     nio
2020-05-22   3.330000   3.340000   3.180000  ...          0             0     nio
...               ...        ...        ...  ...        ...           ...     ...
2021-05-12  34.380001  35.130001  33.480000  ...          0             0     nio
2021-05-13  33.849998  34.270000  30.709999  ...          0             0     nio
2021-05-14  31.940001  33.689999  31.559999  ...          0             0     nio
2021-05-17  33.330002  34.160000  32.820000  ...          0             0     nio
2021-05-18  34.009998  34.379902  33.270000  ...          0             0     nio

[253 rows x 8 columns]