<a href="https://colab.research.google.com/github/Konoko2004/TheProject/blob/main/yFinance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Install related libraries

!pip install yfinance
!pip install dash
import pandas as pd
import yfinance as yf

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/a7/ee/315752b9ef281ba83c62aa7ec2e2074f85223da6e7e74efb4d3e11c0f510/yfinance-0.1.59.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading https://files.pythonhosted.org/packages/30/c0/d0526314971fc661b083ab135747dc68446a3022686da8c16d25fcf6ef07/lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3MB)
     |████████████████████████████████| 6.3MB 7.8MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.59-py2.py3-none-any.whl size=23442 sha256=2a71b6019d31298e8314784d567a456235c9afc3e9a3ff9aa6b753a4ecf9d829
  Stored in directory: /root/.cache/pip/wheels/f8/2a/0f/4b5a86e1d52e451757eb6bc17fd899629f0925c777741b6d04
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.59
Collecting dash
  Downloading https://files.pythonhosted.org/packages/d4/50/e7c2830168db186f84b7de2988543e974433a6cdb0a0b23d51c781e2b2ab/dash-1.20.0.tar.gz (77kB)
     |████████████████████████████████| 81kB 4.2MB/s
Requirement already satisfied: Flask>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from dash) (1.1.4)
Collecting flask-compress
  Downloading https://files.pythonhosted.org/packages/c6/d5/69b13600230d24310b98a52da561113fc01a5c17acf77152761eef3e50f1/Flask_Compress-1.9.0-py3-none-any.whl
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from dash) (4.4.1)
Collecting dash_renderer==1.9.1
  Downloading https://files.pythonhosted.org/packages/5f/d3/d661a68b4ce71498d5c0c79617bce3d5fc884d4448c698f77c2247cd1b46/dash_renderer-1.9.1.tar.gz (1.0MB)
     |████████████████████████████████| 1.0MB 9.4MB/s
Collecting dash-core-components==1.16.0
  Downloading https://files.pythonhosted.org/packages/f4/79/434e14d77dbf82b27f98df077936a424de254059d47152b0445b7116e97e/dash_core_components-1.16.0.tar.gz (3.5MB)
     |████████████████████████████████| 3.5MB 17.2MB/s
Collecting dash-html-components==1.1.3
  Downloading https://files.pythonhosted.org/packages/8f/ca/7eeca4cae4e15cc6f7d0bc41a46368dd3fcdddc72aaa5bac61a8b92d541c/dash_html_components-1.1.3.tar.gz (82kB)
     |████████████████████████████████| 92kB 7.3MB/s
Collecting dash-table==4.11.3
  Downloading https://files.pythonhosted.org/packages/97/f7/f4969a926f20a55d3e5970d01b85ff9ad510dba32de189e72dd8f4992740/dash_table-4.11.3.tar.gz (1.8MB)
     |████████████████████████████████| 1.8MB 33.0MB/s
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from dash) (0.16.0)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=1.0.4->dash) (7.1.2)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from Flask>=1.0.4->dash) (1.0.1)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=1.0.4->dash) (2.11.3)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from Flask>=1.0.4->dash) (1.1.0)
Collecting brotli
  Downloading https://files.pythonhosted.org/packages/15/ea/5bd575511b37bbd1c794606a0a621e6feff8e96b7dd007a86a5d218b2d94/Brotli-1.0.9-cp37-cp37m-manylinux1_x86_64.whl (357kB)
     |████████████████████████████████| 358kB 34.1MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly->dash) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->dash) (1.3.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->Flask>=1.0.4->dash) (2.0.1)
Building wheels for collected packages: dash, dash-renderer, dash-core-components, dash-html-components, dash-table
  Building wheel for dash (setup.py) ... done
  Created wheel for dash: filename=dash-1.20.0-cp37-none-any.whl size=85834 sha256=0a19490ece3d09228349032f306dcc91bae6a608655cf4c749bd442d3d4141cf
  Stored in directory: /root/.cache/pip/wheels/e6/33/41/ce361d0d1da277d2350f815b10f2ab1e331592d93ef2b07e29
  Building wheel for dash-renderer (setup.py) ... done
  Created wheel for dash-renderer: filename=dash_renderer-1.9.1-cp37-none-any.whl size=1014875 sha256=750bd44bde24867713b85ea03ecebc41dd9b21e4b59980b57cf95de3dea0e995
  Stored in directory: /root/.cache/pip/wheels/03/a9/c5/dd5815c601b0ede164c223ffd7bafebde716ca57de06ef8aec
  Building wheel for dash-core-components (setup.py) ... done
  Created wheel for dash-core-components: filename=dash_core_components-1.16.0-cp37-none-any.whl size=3540993 sha256=4e6c87388193bc849581d6cc7eb1cda158d7775348226b162e277618a2668cfe
  Stored in directory: /root/.cache/pip/wheels/86/1e/8c/e87ebba30b73c20dcd641224274febc983af88ed0fd7712a07
  Building wheel for dash-html-components (setup.py) ... done
  Created wheel for dash-html-components: filename=dash_html_components-1.1.3-cp37-none-any.whl size=319471 sha256=be52bf7b2fa3b130f335ce23802e2276d1c1f9feea262de9973b720c8f2e62a4
  Stored in directory: /root/.cache/pip/wheels/07/f9/6c/f9b73a6ae1b7f347a92dc240293cebc267b370ba2a80added2
  Building wheel for dash-table (setup.py) ... done
  Created wheel for dash-table: filename=dash_table-4.11.3-cp37-none-any.whl size=1827619 sha256=62ab6fc6900075ff2a6abe833ba593b67dc6954467ef6ee0544e48db3cefbb0b
  Stored in directory: /root/.cache/pip/wheels/51/9b/89/374be1bc250e28a15edbd657cf364f163e392ba5257bfd0e87
Successfully built dash dash-renderer dash-core-components dash-html-components dash-table
Installing collected packages: brotli, flask-compress, dash-renderer, dash-core-components, dash-html-components, dash-table, dash
Successfully installed brotli-1.0.9 dash-1.20.0 dash-core-components-1.16.0 dash-html-components-1.1.3 dash-renderer-1.9.1 dash-table-4.11.3 flask-compress-1.9.0

In [ ]:
df1 = pd.DataFrame([[1,2,3,4]],
                   columns = ['a','b','c','d'])
df2 = pd.DataFrame([[1,2,3,4,5],[1,4,9,16,25],[1,16,87,12,41]],
                   columns = ['a','b','c','d','e'])

print(pd.concat([df1,df2],axis=1))

     a    b    c    d  a   b   c   d   e
0  1.0  2.0  3.0  4.0  1   2   3   4   5
1  NaN  NaN  NaN  NaN  1   4   9  16  25
2  NaN  NaN  NaN  NaN  1  16  87  12  41

In [39]:
# Function to create a DF of a ticker. We will add them to a class of stocks later.

# def create_Stock(tickerName):
#     stock = yf.Ticker(tickerName)
#     stockhistory = stock.history(period = '1y')
#     stock_df = pd.DataFrame(stockhistory)
#     stock_df['Ticker'] = tickerName
#     stock_df.reset_index(inplace = True) # push date index to become a column.
#     stock_df['Date'] = stock_df['Date'].dt.strftime('%d/%m/%Y')  #dd/mm/yyyy format.
#     return stock_df

In [54]:
def create_Stock(*tickerName):

    frames = []
    
    for i in tickerName:
        stock = yf.Ticker(i)
        stockhistory = stock.history(period = '1y')
        stock_df = pd.DataFrame(stockhistory)
        stock_df['Ticker'] = i
        stock_df.reset_index(inplace = True)                                    #push date index to become a column
        stock_df['Date'] = stock_df['Date'].dt.strftime('%d/%m/%Y')             #dd/mm/yyyy format
        frames.append(stock_df)
    
    return frames

In [57]:
stockList = create_Stock('nio','tsla','msft','pltr','ocgn')
stockList = pd.concat(stockList)
stockList

           Date   Open   High   Low  ...     Volume  Dividends  Stock Splits  Ticker
0    29/05/2020  3.820  4.000  3.73  ...   50303000        0.0           0.0     nio
1    01/06/2020  4.000  4.330  3.96  ...   69222000        0.0           0.0     nio
2    02/06/2020  4.360  4.730  4.35  ...   82476600        0.0           0.0     nio
3    03/06/2020  5.000  5.700  4.98  ...  199210000        0.0           0.0     nio
4    04/06/2020  6.010  6.200  5.61  ...  173052600        0.0           0.0     nio
..          ...    ...    ...   ...  ...        ...        ...           ...     ...
248  24/05/2021  8.709  8.710  7.89  ...   26900300        0.0           0.0    ocgn
249  25/05/2021  8.550  8.650  7.87  ...   41254500        0.0           0.0    ocgn
250  26/05/2021  7.340  7.855  7.26  ...   42872800        0.0           0.0    ocgn
251  27/05/2021  7.730  8.760  7.68  ...   58546500        0.0           0.0    ocgn
252  28/05/2021  8.870  9.100  8.32  ...   38422900        0.0           0.0    ocgn

[1179 rows x 9 columns]

In [ ]:
class WatchList:
    def __init__(self, dataframe):
        self.dataframe = dataframe
        self.buy

In [ ]:
watchList = ['nio','amd','tsla','pltr'] 
myData = create_Stock("nio")
nio

           Date       Open       High  ...  Dividends  Stock Splits  Ticker
0    28/05/2020   3.980000   4.120000  ...          0             0     nio
1    29/05/2020   3.820000   4.000000  ...          0             0     nio
2    01/06/2020   4.000000   4.330000  ...          0             0     nio
3    02/06/2020   4.360000   4.730000  ...          0             0     nio
4    03/06/2020   5.000000   5.700000  ...          0             0     nio
..          ...        ...        ...  ...        ...           ...     ...
249  24/05/2021  34.259998  36.490002  ...          0             0     nio
250  25/05/2021  36.320000  37.639999  ...          0             0     nio
251  26/05/2021  36.250000  38.080002  ...          0             0     nio
252  27/05/2021  37.950001  38.980000  ...          0             0     nio
253  28/05/2021  38.744999  39.759998  ...          0             0     nio

[254 rows x 9 columns]

In [ ]:
nio = yf.Ticker("nio")
niohistory = nio.history(period = '1y')
nio_df = pd.DataFrame(niohistory)
nio_df

nio_df['High-Low'] = nio_df['High']-nio_df['Low']
nio_df['Ticker'] = 
nio_df = nio_df[['Open','High','Low','Close','High-Low','Volume','Dividends','Stock Splits']]   #re-arrange columns

nio_df

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2020-05-18   3.500000   3.690000   3.500000  ...   27771300          0             0
2020-05-19   3.620000   3.750000   3.590000  ...   21707400          0             0
2020-05-20   3.760000   3.820000   3.400000  ...   52056900          0             0
2020-05-21   3.400000   3.440000   3.230000  ...   41628400          0             0
2020-05-22   3.330000   3.340000   3.180000  ...   22887300          0             0
...               ...        ...        ...  ...        ...        ...           ...
2021-05-12  34.380001  35.130001  33.480000  ...   75993700          0             0
2021-05-13  33.849998  34.270000  30.709999  ...  113686700          0             0
2021-05-14  31.940001  33.689999  31.559999  ...   80032000          0             0
2021-05-17  33.330002  34.160000  32.820000  ...   63466400          0             0
2021-05-18  34.009998  34.358200  33.270000  ...   21506476          0             0

[253 rows x 8 columns]

In [ ]:
def moving_avg(dataframe, period = 20,Moving_avg = ''):

    self

In [ ]:
nio = create_Stock(tickerName = 'nio')

nio['High-Low'] = nio['High']-nio['Low']
nio

           Date       Open       High  ...  Stock Splits  Ticker  High-Low
0    26/05/2020   3.420000   3.830000  ...             0     nio  0.430000
1    27/05/2020   4.010000   4.200000  ...             0     nio  0.300000
2    28/05/2020   3.980000   4.120000  ...             0     nio  0.370000
3    29/05/2020   3.820000   4.000000  ...             0     nio  0.270000
4    01/06/2020   4.000000   4.330000  ...             0     nio  0.370000
..          ...        ...        ...  ...           ...     ...       ...
249  20/05/2021  33.980000  34.509998  ...             0     nio  0.869999
250  21/05/2021  34.660000  34.779999  ...             0     nio  0.910000
251  24/05/2021  34.259998  36.490002  ...             0     nio  2.930000
252  25/05/2021  36.320000  37.639999  ...             0     nio  1.950001
253  26/05/2021  36.250000  37.779999  ...             0     nio  1.706600

[254 rows x 10 columns]

In [ ]:
nio_tidied = pd.melt(nio,id_vars=['Volume','Dividends','Stock Splits','Date','Ticker'],
                     var_name='Position',value_name = 'Price')

nio_tidied

        Volume  Dividends  Stock Splits        Date Ticker  Position     Price
0     59847900          0             0  26/05/2020    nio      Open  3.420000
1     70718900          0             0  27/05/2020    nio      Open  4.010000
2     62756900          0             0  28/05/2020    nio      Open  3.980000
3     50303000          0             0  29/05/2020    nio      Open  3.820000
4     69222000          0             0  01/06/2020    nio      Open  4.000000
...        ...        ...           ...         ...    ...       ...       ...
1265  48991700          0             0  20/05/2021    nio  High-Low  0.869999
1266  49419300          0             0  21/05/2021    nio  High-Low  0.910000
1267  67244400          0             0  24/05/2021    nio  High-Low  2.930000
1268  76545800          0             0  25/05/2021    nio  High-Low  1.950001
1269  31757357          0             0  26/05/2021    nio  High-Low  1.706600

[1270 rows x 7 columns]