<a href="https://colab.research.google.com/github/Konoko2004/TheProject/blob/main/yFinance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Install related libraries

!pip install yfinance
!pip install dash
!pip install matplotlib
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import yfinance as yf
from datetime import date

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.59)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: dash in /usr/local/lib/python3.7/dist-packages (1.20.0)
Requirement already satisfied: Flask>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from dash) (1.1.4)
Requirement already satisfied: flask-compress in /usr/local/lib/python3.7/dist-packages (from dash) (1.9.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from dash) (4.4.1)
Requirement already satisfied: dash-table==4.11.3 in /usr/local/lib/python3.7/dist-packages (from dash) (4.11.3)
Requirement already satisfied: dash-renderer==1.9.1 in /usr/local/lib/python3.7/dist-packages (from dash) (1.9.1)
Requirement already satisfied: dash-core-components==1.16.0 in /usr/local/lib/python3.7/dist-packages (from dash) (1.16.0)
Requirement already satisfied: dash-html-components==1.1.3 in /usr/local/lib/python3.7/dist-packages (from dash) (1.1.3)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from dash) (0.16.0)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=1.0.4->dash) (2.11.3)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from Flask>=1.0.4->dash) (1.0.1)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from Flask>=1.0.4->dash) (1.1.0)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=1.0.4->dash) (7.1.2)
Requirement already satisfied: brotli in /usr/local/lib/python3.7/dist-packages (from flask-compress->dash) (1.0.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly->dash) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->dash) (1.3.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->Flask>=1.0.4->dash) (2.0.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.4.7)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.19.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib) (1.15.0)

In [ ]:
df1 = pd.DataFrame([[1,2,3,4]],
                   columns = ['a','b','c','d'])
df2 = pd.DataFrame([[1,2,3,4,5],[1,4,9,16,25],[1,16,87,12,41]],
                   columns = ['a','b','c','d','e'])

print(pd.concat([df1,df2],axis=1))

     a    b    c    d  a   b   c   d   e
0  1.0  2.0  3.0  4.0  1   2   3   4   5
1  NaN  NaN  NaN  NaN  1   4   9  16  25
2  NaN  NaN  NaN  NaN  1  16  87  12  41

In [39]:
# Function to create a DF of a ticker. We will add them to a class of stocks later.

# def create_Stock(tickerName):
#     stock = yf.Ticker(tickerName)
#     stockhistory = stock.history(period = '1y')
#     stock_df = pd.DataFrame(stockhistory)
#     stock_df['Ticker'] = tickerName
#     stock_df.reset_index(inplace = True) # push date index to become a column.
#     stock_df['Date'] = stock_df['Date'].dt.strftime('%d/%m/%Y')  #dd/mm/yyyy format.
#     return stock_df

In [62]:
def create_Stock(*tickerName):

    frames = []

    for i in tickerName:
        stock = yf.Ticker(i)
        stockhistory = stock.history(period = 'max')
        stock_df = pd.DataFrame(stockhistory)
        stock_df['Ticker'] = i
        stock_df.reset_index(inplace = True)                                    #push date index to become a column
        stock_df['Date'] = stock_df['Date'].dt.strftime('%d/%m/%Y')             #dd/mm/yyyy format
        frames.append(stock_df)
    
    return frames

In [63]:
stockList = create_Stock('nio','tsla','msft','pltr','ocgn')
stockList = pd.concat(stockList)
stockList['High-Low'] = stockList['High'] - stockList['Low']
stockList = stockList[['Date','Ticker','Open','High','Low','Close','High-Low','Volume','Dividends','Stock Splits']]
stockList

            Date Ticker    Open  ...     Volume  Dividends  Stock Splits
0     12/09/2018    nio   6.000  ...   66849000        0.0           0.0
1     13/09/2018    nio   6.620  ...  158346500        0.0           0.0
2     14/09/2018    nio  12.660  ...  172473600        0.0           0.0
3     17/09/2018    nio   9.610  ...   56323900        0.0           0.0
4     18/09/2018    nio   8.730  ...   41827600        0.0           0.0
...          ...    ...     ...  ...        ...        ...           ...
1628  24/05/2021   ocgn   8.709  ...   26900300        0.0           0.0
1629  25/05/2021   ocgn   8.550  ...   41254500        0.0           0.0
1630  26/05/2021   ocgn   7.340  ...   42872800        0.0           0.0
1631  27/05/2021   ocgn   7.730  ...   58546500        0.0           0.0
1632  28/05/2021   ocgn   8.870  ...   38422900        0.0           0.0

[14108 rows x 10 columns]

In [ ]:
nio = create_Stock(tickerName = 'nio')

nio['High-Low'] = nio['High']-nio['Low']
nio

           Date       Open       High  ...  Stock Splits  Ticker  High-Low
0    26/05/2020   3.420000   3.830000  ...             0     nio  0.430000
1    27/05/2020   4.010000   4.200000  ...             0     nio  0.300000
2    28/05/2020   3.980000   4.120000  ...             0     nio  0.370000
3    29/05/2020   3.820000   4.000000  ...             0     nio  0.270000
4    01/06/2020   4.000000   4.330000  ...             0     nio  0.370000
..          ...        ...        ...  ...           ...     ...       ...
249  20/05/2021  33.980000  34.509998  ...             0     nio  0.869999
250  21/05/2021  34.660000  34.779999  ...             0     nio  0.910000
251  24/05/2021  34.259998  36.490002  ...             0     nio  2.930000
252  25/05/2021  36.320000  37.639999  ...             0     nio  1.950001
253  26/05/2021  36.250000  37.779999  ...             0     nio  1.706600

[254 rows x 10 columns]

In [ ]:
nio_tidied = pd.melt(nio,id_vars=['Volume','Dividends','Stock Splits','Date','Ticker'],
                     var_name='Position',value_name = 'Price')

nio_tidied

        Volume  Dividends  Stock Splits        Date Ticker  Position     Price
0     59847900          0             0  26/05/2020    nio      Open  3.420000
1     70718900          0             0  27/05/2020    nio      Open  4.010000
2     62756900          0             0  28/05/2020    nio      Open  3.980000
3     50303000          0             0  29/05/2020    nio      Open  3.820000
4     69222000          0             0  01/06/2020    nio      Open  4.000000
...        ...        ...           ...         ...    ...       ...       ...
1265  48991700          0             0  20/05/2021    nio  High-Low  0.869999
1266  49419300          0             0  21/05/2021    nio  High-Low  0.910000
1267  67244400          0             0  24/05/2021    nio  High-Low  2.930000
1268  76545800          0             0  25/05/2021    nio  High-Low  1.950001
1269  31757357          0             0  26/05/2021    nio  High-Low  1.706600

[1270 rows x 7 columns]