<a href="https://colab.research.google.com/github/Konoko2004/TheProject/blob/main/yFinance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install yfinance

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/a7/ee/315752b9ef281ba83c62aa7ec2e2074f85223da6e7e74efb4d3e11c0f510/yfinance-0.1.59.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading https://files.pythonhosted.org/packages/30/c0/d0526314971fc661b083ab135747dc68446a3022686da8c16d25fcf6ef07/lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3MB)
     |████████████████████████████████| 6.3MB 7.4MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.59-py2.py3-none-any.whl size=23442 sha256=2463c0cb740bc52bd1cc2e74c9db8bb9baf482cef557558d442b9b530e168cef
  Stored in directory: /root/.cache/pip/wheels/f8/2a/0f/4b5a86e1d52e451757eb6bc17fd899629f0925c777741b6d04
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.59

In [3]:
import pandas as pd
import yfinance as yf

In [23]:
df1 = pd.DataFrame([[1,2,3,4]],
                   columns = ['a','b','c','d'])
df2 = pd.DataFrame([[1,2,3,4,5],[1,4,9,16,25],[1,16,87,12,41]],
                   columns = ['a','b','c','d','e'])

print(pd.concat([df1,df2],axis=1))

     a    b    c    d  a   b   c   d   e
0  1.0  2.0  3.0  4.0  1   2   3   4   5
1  NaN  NaN  NaN  NaN  1   4   9  16  25
2  NaN  NaN  NaN  NaN  1  16  87  12  41

In [39]:
#Function to create a DF of a ticker. We will add them to a class of stocks later.

def create_Stock(tickerName):
    stock = yf.Ticker(tickerName)
    stockhistory = stock.history(period = '1y')
    stock_df = pd.DataFrame(stockhistory)
    stock_df['Ticker'] = tickerName
    stock_df.reset_index(inplace = True) # push date index to become a column.
    stock_df['Date'] = stock_df['Date'].dt.strftime('%d/%m/%Y')  #dd/mm/yyyy format.
    return stock_df

In [14]:
class WatchList:
    def __init__(self, dataframe):
        self.dataframe = dataframe
        self.buy

In [40]:
nio = create_Stock("nio")
nio

           Date       Open       High  ...  Dividends  Stock Splits  Ticker
0    20/05/2020   3.760000   3.820000  ...          0             0     nio
1    21/05/2020   3.400000   3.440000  ...          0             0     nio
2    22/05/2020   3.330000   3.340000  ...          0             0     nio
3    26/05/2020   3.420000   3.830000  ...          0             0     nio
4    27/05/2020   4.010000   4.200000  ...          0             0     nio
..          ...        ...        ...  ...        ...           ...     ...
247  13/05/2021  33.849998  34.270000  ...          0             0     nio
248  14/05/2021  31.940001  33.689999  ...          0             0     nio
249  17/05/2021  33.330002  34.160000  ...          0             0     nio
250  18/05/2021  34.009998  34.779999  ...          0             0     nio
251  19/05/2021  32.980000  33.459999  ...          0             0     nio

[252 rows x 9 columns]

In [ ]:
nio = yf.Ticker("nio")
niohistory = nio.history(period = '1y')
nio_df = pd.DataFrame(niohistory)
nio_df

nio_df['High-Low'] = nio_df['High']-nio_df['Low']
nio_df['Ticker'] = 
nio_df = nio_df[['Open','High','Low','Close','High-Low','Volume','Dividends','Stock Splits']]   #re-arrange columns

nio_df

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2020-05-18   3.500000   3.690000   3.500000  ...   27771300          0             0
2020-05-19   3.620000   3.750000   3.590000  ...   21707400          0             0
2020-05-20   3.760000   3.820000   3.400000  ...   52056900          0             0
2020-05-21   3.400000   3.440000   3.230000  ...   41628400          0             0
2020-05-22   3.330000   3.340000   3.180000  ...   22887300          0             0
...               ...        ...        ...  ...        ...        ...           ...
2021-05-12  34.380001  35.130001  33.480000  ...   75993700          0             0
2021-05-13  33.849998  34.270000  30.709999  ...  113686700          0             0
2021-05-14  31.940001  33.689999  31.559999  ...   80032000          0             0
2021-05-17  33.330002  34.160000  32.820000  ...   63466400          0             0
2021-05-18  34.009998  34.358200  33.270000  ...   21506476          0             0

[253 rows x 8 columns]

In [ ]:
def moving_avg(dataframe, period = 20):

    print(dataframe.shape)

In [ ]:
create_Stock(tickerName = 'nio')

                 Open       High        Low  ...  Dividends  Stock Splits  Ticker
Date                                         ...
2020-05-18   3.500000   3.690000   3.500000  ...          0             0     nio
2020-05-19   3.620000   3.750000   3.590000  ...          0             0     nio
2020-05-20   3.760000   3.820000   3.400000  ...          0             0     nio
2020-05-21   3.400000   3.440000   3.230000  ...          0             0     nio
2020-05-22   3.330000   3.340000   3.180000  ...          0             0     nio
...               ...        ...        ...  ...        ...           ...     ...
2021-05-12  34.380001  35.130001  33.480000  ...          0             0     nio
2021-05-13  33.849998  34.270000  30.709999  ...          0             0     nio
2021-05-14  31.940001  33.689999  31.559999  ...          0             0     nio
2021-05-17  33.330002  34.160000  32.820000  ...          0             0     nio
2021-05-18  34.009998  34.379902  33.270000  ...          0             0     nio

[253 rows x 8 columns]